---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

$dark-blue: #161B40;
$light-blue: #42BEE5;
$gold: #EFA500;

.logo {
  font-family: 'Abril Fatface', cursive;
}

.main-section {
  padding: 40px;
  height: 100vh;
  color: white;
  background-color: #161B40;

  h1:not(.logo) {

    em {
      color: $light-blue;
    }
  }

  h2 {
    color: $gold;
    font-size: 14px;
    font-weight: 200;
  }

  h3 {
    color: #DCDCDC;
  }
}
