---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

$dark-blue: "#161B40";
$light-blue: "#42BEE5";

.logo {
  font-family: 'Abril Fatface', cursive;
}

.main-section {
  padding: "40px";
  height: "100vh";
  color: white;
  background-color: $dark-blue !important;

  h1 {

    em {
      color: $light-blue;
    }
  }

  h2 {

  }

  h3 {

  }
}
