---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

$dark-blue: #161B40;
$light-blue: #42BEE5;
$light-grey: #DCDCDC;
$mute: #f7f7f7;
$gold: #EFA500;

.logo {
  font-family: 'Abril Fatface', cursive;
}

a {
  text-decoration: none;
}

.main-section {
  padding: 40px;
  height: 100vh;
  color: white;
  background-color: $dark-blue;

  h1:not(.logo) {

    em {
      color: $light-blue;
    }
  }

  h2 {
    color: $gold;
    font-size: 14px;
    font-weight: 200;
  }

  h3 {
    color: $light-grey;
    font-weight: 100;
  }

  .pure-button {
    margin-bottom: 30px;
  }
  
  .pure-menu {
    display: inline-block;
  }

  .no-padding {
    padding: 0 !important;
  }

  .framework-list {
    height: 70px;
    width: 90%;
    background-image: url('/mestre/assets/images/framework-list2.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    box-shadow: inset 0px 0px 16px 16px $dark-blue;
    animation-name: MOVE-IMG;
    animation-duration: 20s;
    animation-timing-function: linear;  
    animation-iteration-count: infinite;
  }
}

.animation-section {
  position: relative;
  overflow: hidden;
  background-color: $light-grey;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100vh 7vw 0 0;
  border-color: #161B40 transparent transparent transparent;
  border-color: $dark-blue transparent transparent transparent;
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
}

.background-scroll {
  background-image: url(https://tailwindui.com/img/hero-pattern-lg.png);
  width: 400%;
  height: 400%;
  position: absolute;
  top: -25%;
  left: -100%;
  z-index: 2;
  transform: rotate(-12deg);
  background-size: 800px auto;
  animation-name: MOVE-BG;
  animation-duration: 35s;
  animation-timing-function: linear;  
  animation-iteration-count: infinite;
}

@keyframes MOVE-BG {
  0% {
    transform: rotate(-12deg) translateY(0);
  }
  100% { 
    transform: rotate(-12deg) translateY(-1280px); 
  }
}


@keyframes MOVE-IMG {
  0% {
    background-position: 0;
  }
  100% { 
    background-position: 199.9%;
  }
}


/* Default Theme Styles */

aside {
  width: 25%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  z-index: 20000000;
  background-color: $mute;
  border-right: 1px solid $light-grey;

  ul {
    list-style-type: none;

    li {
      height: 50px;

      a {
        color: black;
      }
    }
  }
}

.content-section {
  overflow:hidden !important;
}

.dark-blue {
  background-color: $dark-blue;
}

.colortron {
  position: fixed;
  top: 0;
  left: 25%;
  background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
  background-repeat: repeat;
  z-index: 1000; 
  height: 5px;
  width: 200%;
}
